RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
Options -Indexes
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

ReWriteRule ^$  index.php [NC,L]
#ReWriteRule ^login([/]?)$ pages/login.php [NC,L]


# Company Reviews Start

ReWriteRule ^more-services([/]?)$ more-services.php [NC,L]
ReWriteRule ^services-page([/]?)$ services-page.php [NC,L]
ReWriteRule ^about-us([/]?)$ about-us.php [NC,L]
ReWriteRule ^request-a-free-quote([/]?)$ request-a-free-quote.php [NC,L]
ReWriteRule ^blogs([/]?)$ place-a-deposit.php [NC,L]
ReWriteRule ^calculator([/]?)$ calculator.php [NC,L]
RewriteRule ^sitemap\.xml/?$ sitemap.xml

ReWriteRule ^([0-9A-Za-z\-]+)([/]?)([/]?)$ _index.php?page_id=$1 [NC,L]

#ReWriteRule ^company-reviews/add([/]?)$ pages/add_company_review.php [NC,L]
#ReWriteRule ^company-reviews/edit/([0-9]+)([/]?)$ pages/edit_company_review.php?_id=$1 [NC,L]