* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    list-style: none;
}

.buttons {
    display: inline-flex;
    align-items: center;
}

.button-about {
    padding: 7px 12px;
    border: 1px solid #ff5227;
    background-color: #ff5227;
    color: #fff;
    transition: 0.8s;
    margin: 10px;
}

.button-about:hover {
    border: 1px solid #ff5227;
    background-color: #fff;
    color: #ff5227;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.main-section {
    width: 30%;
    margin: 0 auto;
    margin-top: 100px;
}

.register-section {
    width: 100%;
    min-height: 320px;
    display: grid;
    grid-template-columns: 100%;
}

div[class*="register-section-"] {
    /* border: 1px solid #00000050; */
    padding: 7% 5%;
}

.register-section-img {
    display: flex;
    height: 150px;
    flex-direction: column;
    justify-content: space-between;
    background-color: #2740ff;
}

.register-section-img>.logo {
    width: 100%;
    max-height: 150px;
    color: #fff;
    display: flex;
    justify-content: center;
}

.register-section-img>.logo>img {
    width: 300px;
    margin-top: 20px;
}


/* 
.register-section-img>.heading {
    width: 100%;
    color: #fff;
    text-align: center;
    /* margin-bottom: 22px; */

.register-section-img>.heading>p:nth-child(1) {
    font-size: 25px;
    font-weight: 500;
}

.register-section-img>.heading>p:nth-child(2) {
    font-size: 40px;
}

.register-section-img>.heading>p:nth-child(3) {
    font-size: 14px;
    line-height: 2;
}

.register-section-img>.icons>ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-section-img>.icons>ul>li {
    padding: 0 10px;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
}

.register-section-content {
    border: 1px solid #00000050;
    padding: 5%;
}

.register-section-content>.input-div {
    padding: 0 0 6% 0;
}

.register-section-content>.input-div>p {
    font-size: 14px;
    line-height: 2.4;
}

.register-section-content>.input-div>input {
    outline: none;
    border: none;
    border-bottom: 1px solid #00000050;
    padding: 1% 0;
    width: 100%;
    font-size: 17px;
}

.register-section-content>.button {
    padding: 2% 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.register-section-content>.button>button {
    width: 40%;
    background-color: #2740ff;
    border: none;
    color: #fff;
    border-radius: 4px;
    padding: 2%;
    font-size: 16px;
    cursor: pointer;
}

.register-section-content>.button>button:hover {
    background-color: #1a33f5;
}

.register-section-content>.button>a {
    color: #000;
    text-decoration: underline;
    font-size: 15px;
}

.register-section-img {
    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.register-section-content {
    border-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#mail-error {
    color: #ff5227;
    font-weight: bold;
    font-size: 14px;
    margin: 5px 0;
}

#pass-error {
    color: #ff5227;
    font-weight: bold;
    margin: 5px 0;
    font-size: 14px;
}

@media screen and (max-width: 1300px) {
    .main-section {
        width: 35%;
    }
}

@media screen and (max-width: 1100px) {
    .main-section {
        width: 39%;
    }
}

@media screen and (max-width: 900px) {
    .main-section {
        width: 45%;
    }
}

@media screen and (max-width: 800px) {
    .main-section {
        width: 49%;
    }
}

@media screen and (max-width: 500px) {
    .main-section {
        width: 90%;
    }
}